# Gradle
build.properties
build/
.idea/
.gradle/
.mps-caches/

# MPS
workspace.xml
classes_gen
source_gen
source_gen.caches

test_gen
test_gen.caches
TEST-*.xml
junit*.properties

# IDEA
solutions/TextGenGen.javastubs/java_src/EditorToText_IDEA/.idea/*
!solutions/TextGenGen.javastubs/java_src/EditorToText_IDEA/.idea/libraries/
solutions/TextGenGen.javastubs/java_src/EditorToText_IDEA/out/

*.iws